*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
}
 
nav{
    background: #87C3BD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 100px;
    box-shadow: #ADD6D2 25px;
}
nav #logo {
   width: 50px;
    
}
nav .nav-items{
    display: flex;
    padding: 0 0 0 40px;
    list-style: none;
}
nav .nav-items li{
    padding: 0 15px;
}

nav .nav-items li a{
    color: rgb(75, 59, 59);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    font: sans-serif;
}

.p1{
    padding-left: 70px;
    padding-top: 50px;
}
.checkbox{
    float: right;
    padding-right: 30px;
    font-size: 15px;
    font-family: sans-serif;
}

#checkbox-text1{
    float: right;
    padding: 5px;
}
.checkbox button{
    background-color: chocolate;
    font-family: sans-serif;
    padding-right: 20px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    
   
  }
  
  .flex-container > div {
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    box-shadow: 10px 10px 5px grey;
  }

  .text1 p {
    margin:0;
    padding:0;
    margin-left: 150px;
    font-size: 25px;
    display: inline-block;
    line-height: 50px;
}

#text3 {
   float: right;
   padding-right: 35px;
    
}
.search-box{
    position: absolute;
    left: 50%;
    transform: translate(-50% -50%);
    background-color: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.input-box{
    border: none;
    outline: none;
    background: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s all;
    line-height: 40px;
    width: 0;
}
.btn{
    color: cadetblue;
    float: right;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.search-box:hover .input-box{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover .btn{
    background-color: #fff;
}

footer{
    position: sticky;
    top: 100%;
    width: 100%;
    height: 135px;
    background-color: #87C3BD;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding-top: 70px;
}