@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500&display=swap');
*{
    font-family: raleway;
    padding: 0;
    margin: 0;
}
.result11 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-bottom: 50px;
    font-family: raleway;
    padding-top: 40px;
  }

.imageText {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.resultImage{
    width: 750px;
    display: flex;
    justify-content: center;

}

.recipeTitle{
    margin-left: 2%;
    font-family: raleway;
}

.pargraph  {
 width: 750px;
 font-size: 20px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-family: raleway;
   padding-bottom: 20px;
   padding-left: 5px;
   color: rgb(32, 30, 30);
   list-style-type: circle;
}

.ingredient {
    display: flex;
    font-size: 15px;
    position: absolute;
    top: 150px;
    right: 47px;
    padding: 5px 5px 0 5px;
    text-decoration: none;
    display: inline-block;
    font-family: raleway;
   padding-bottom: 20px;
   padding-left: 5px;
   border: 1px solid rgb(33, 36, 33);
   list-style-type: circle;
   list-style-type: space-counter;
   line-height: 1.3;
   counter-reset: line;
}

.directions {
    font-size:180%;
    margin-left: 1%;

}
.cook-ican{
    position: absolute;
    top: 155px;
    right: 60px;
    font-size: 20px;
}

.resultImage {
    grid-area: resultImage;
}

.description {
    grid-area: description;
}

.box {
    grid-area: box;
}

.instructions {
    grid-area: instructions;
}

.recipe {
    grid-area: recipe;
}

.result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: "recipe box" ;
}