

form {
    margin-left: 20px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.instruction{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px; 
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-insert {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descript {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

textarea {
    border-radius: 5px;
    border: 2px solid #b8d0d4;
    font-size: larger;
}

textarea:hover {
    background-color: #b8d0d4;
}

input {
    font-size: 20px;
}


.btn-primary {
    border-radius: 8px;
    height: 50px;
    padding: 5px;
    font-size: 15px;
    margin-left: 20px;
    background-color: white;
    border: 2px solid green;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-primary:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.btn-secondary {
    border-radius: 8px;
    height: 50px;
    padding: 5px;
    font-size: 15px;
    margin-left: 8px;
    background-color: white;
    border: 2px solid green;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-secondary:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}