.container1 {
    background-color: aqua;
    column-gap: 40px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
    grid-gap: 40px;
    margin-top: 20px;
    align-content: space-around;
    grid-template-areas:
        "profile card1 card2 card3 pref"
        "profile card4 card5 card6 pref"