
.cards {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: space-between;
}
.image11{
    width: 500px;
    height: 300px;
}
.flex_con{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: raleway;
    padding: 5%;
}
.shared {
    padding-top: 5px;
    padding-bottom: 3px;
}
.buttonrecipe {
  
}
.container >p {
    font-size: 25px;
}