
.table {
  width: 70%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 35px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.card {
    
  box-shadow: 10px 10px 5px rgb(182, 181, 181);
    transition: 0.3s;
    width: 100%;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
 
  }

  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  .container {
    padding: 0px 16px;
  }
.search-Text{
  position: absolute;
  left: 225px;
  top: 13.5%;
}
.image01{
  width: 335px;
  display: flex;
  justify-content: center;
}

h1{
  font-family: serif;
  font-size: 20px;
  padding-left: 10px
}
.result-text{
  font-family: serif;
  font-size: 17px;
  margin: 14px;
  padding-bottom: -45px;

}
.article p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

}


@media only screen and (min-width: 500px) {
  .table {
    grid-template-columns: 1fr 1fr;
  }  
}

@media only screen and (min-width: 850px) {
  .table {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

.link11{
  
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in
}

.article p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

}