
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: raleway;
}

body{
  min-height: 100vh;
}
.table {
  width: 70%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 35px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.card {

    box-shadow: 10px 5px 20px rgba(182, 181, 181, 0.3);
    transition: 0.3s;
    width: 100%;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
 
  }

  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  .container {
    padding: 0px 16px;
  }
.search-Text{
  position: absolute;
  left: 150px;
  top: 13.5%;
}
.checkbox-button1{
  font-family: sans-serif;
  position: absolute;
  top: 80%;
  right: 60px;
  background: #87C3BD;
  color: whitesmoke;
  font-size: 15px;
  padding: 5px 5px;
  font-family: raleway;
  border-radius: 4px;
  float: right;
}
#button2{
  font-family: sans-serif;
  /* position: absolute; */
  top: 80%;
  right: 60px;
  background: #87C3BD;
  color: whitesmoke;
  font-size: 15px;
  padding: 5px 5px;
  font-family: raleway;
  border-radius: 4px;
  float: right;
}

.image01{
  width:100%;
  display: flex;
  justify-content: center;
  height: 222.93px;
}

.header1{
  font-size: 15px;
  width: 70%;
 
  
}
.result-text{
  font-size: 12px;
  margin: 12px;
  padding-bottom: -45px;

}
.article p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

}
nav img{
  width: 170px;
}
nav #logo {
  display: flex;
position: relative;
left: -60px;
top: 1px;
}
#name-logo{
display: flex;
position: relative;
right: 490px;
top: 8px;
}


@media only screen and (min-width: 500px) {
  .table {
    grid-template-columns: 1fr 1fr;
  }  
}

@media only screen and (min-width: 850px) {
  .table {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

.link11{
  
  background: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  
}
#d {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
#checkbox-text2{
    
    right: 15px;
    padding: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: raleway;
}
.container p {
  color:brown;
 
}