
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: raleway;
}
body{
    min-height: 100vh;
}
nav{
    background: #87C3BD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 101px;
    box-shadow: #ADD6D2 25px;
}
nav img{
    width: 170px;
}
nav #logo {
    display: flex;
 position: relative;
 left: -60px;
 top: 1px;
}
#name-logo{
 display: flex;
 position: relative;
 left: -550px;
 top: 8px;
}
nav .nav-items{
    display: flex;
    padding: 0 0 0 40px;
}
nav .nav-items li{
    display: flex;
    justify-content: center;
    padding: 0 -15px;
    position: absolute;
    right: 100px;
    flex-wrap: wrap;
}
nav .nav-items li a{
    color: rgb(75, 59, 59);
    font-size: 20px;
    text-decoration: none;
    font: sans-serif;
}
#join-now{
    display: inline;
    position: absolute;
    right: 100px;
    top: 1px;
    flex-wrap: wrap;
}
.p1{
    padding-left: 170px;
    padding-top: 50px;
    font-size: 25px;
    font-family: raleway;
}
.checkbox{
    padding-right: 15px;
    font-size: 15px;
    font-family: raleway;
    float: right;
    padding-top: 8px;
}
#checkbox-text1{
    position: absolute;
    top: 11%;
    right: 15px;
    padding: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: raleway;
}
.checkbox button{
    font-family: sans-serif;
    position: absolute;
    top: 24%;
    right: 60px;
    background: #87C3BD;
    color: whitesmoke;
    font-size: 15px;
    padding: 5px 5px;
    font-family: raleway;
    border-radius: 4px;
    float: right;
}
#button1{
    position: absolute;
    top: 25%;
  }
  
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-bottom: 50px;
    font-family: raleway;
  }
  .flex-container > div {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0px;
    font-size: 30px;
    box-shadow: 2px 2px 2px 2px rgb(170, 169, 169);
    padding-top: 10px;
    border-radius: 4px;
    padding-bottom: 2px;
    font-family: raleway;
  }
  .flex-container > div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .text1 p {
    margin:0;
    padding:0;
    margin-left: 150px;
    font-size: 25px;
    display: inline-block;
    line-height: 40px;
    font-family: raleway;
}
.text2{
    font-family: raleway;
}
#text3 {
   float: right;
   font-family: raleway;
}
.search-box{
    position: absolute;
    left: 50%;
    transform: translate(-50% -50%);
    background-color: #2F3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.input-box{
    border: none;
    outline: none;
    background: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 3s all;
    line-height: 40px;
    width: 0;
}
.btn{
    color: cadetblue;
    float: right;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.search-box:hover .input-box{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover .btn{
    background-color: #fff;
}
.easiestFood{
    width: 17%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: right;
    font-family: raleway;
  }
.fastestFood{
    width: 35%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: -45px;
    font-family: raleway;
  }
.mostPopular{
    width: 17%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    float: left;
    font-family: raleway;
  }
 .article{
     font-size: 8px;
     text-decoration: none;
     display: inline-block;
    font-family: raleway;
    padding-bottom: 20px;
    padding-left: 5px;
    color: rgb(32, 30, 30);
 }
.image11{
    width: 259px;
    display: flex;
    justify-content: center;
}
.image10{
    width: 532px;
    display: flex;
    justify-content: center;
}
.pic{
    width: 300px;
    display: flex;
    justify-content: center;  
}
.pargraph{
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-family: raleway;
   padding-bottom: 20px;
   padding-left: 5px;
   color: rgb(32, 30, 30);
}
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.day-meals{
    position: absolute;
    display: inline-block;
    right: 500px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    font-family: raleway;
}
/* New search bar for main page */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: raleway;
}

body{
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.search-box1{
	position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 350px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.search-box1 .input-box1 {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn1 {
    background: #01A3A4;
    width: 12%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.btn1 .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
/* search bar for reasult page */
.search-box2{
    position: absolute;
    top: 5.3%;
    left: 52%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 350px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.search-box2 .input-box2 {
    width: 85%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn2 {
    background: #87C3BD;
    width: 12%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.btn2 .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
* {
  font-family: Open Sans;
}
/* section {
  width: 100%;
  display: inline-block;
  background: #87C3BD;
  height: 30vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
} */
.footer-distributed{
    background: #87C3BD;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 40px 40px;
    margin-top: 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left{
    width: 40%;
}
/* The company logo */
.footer-distributed h3{
    color:  #FFFFFF;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}
.footer-distributed h3 span{
    color:  rgb(38, 41, 41);
}
/* Footer links */
.footer-distributed .footer-links{
    color:  #FFFFFF;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
  font-weight:400;
    text-decoration: none;
    color:  inherit;
}
.footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color:  #33383B;
    color: #FFFFFF;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #FFFFFF;
  font-weight:400;
    vertical-align: middle;
    margin:0;
}
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
.footer-distributed .footer-center p a{
    color:  rgb(57, 65, 64);
    text-decoration: none;;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */
.footer-distributed .footer-right{
    width: 20%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color:  #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383B;
    border-radius: 2px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
@media (max-width: 880px) {
    .footer-distributed{
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
}
@media (max-width: 1200px) {
     .easiestFood
     .mostPopular{
         width: 10%;
     }
     .image11{
        width: 150px;
        display: flex;
        justify-content: center;
    }
    .image10{
        width: 332px;
        display: flex;
        justify-content: center;
    }
    .article{
        font-size: 12px;
    }
  /*  #text3{
        font-size: 20px;
    }
    .text2{
        font-size: 20px; 
    } 
    */  
}
@media (max-width: 860px) {
    .image11{
        width: 110px;
        display: flex;
        justify-content: center;
    }
    .image10{
        width: 332px;
        display: flex;
        justify-content: center;
    }
}